@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap");

* {
  color: whitesmoke;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 18px;
}

*::placeholder {
  color: white;
}

body {
  background-color: #2e2e2e;
  height: 100vh;
  background: url(../public/pexels-tim-mossholder-3708459.jpg) center no-repeat;
  background-size: cover;
  overflow: hidden;
}

/* App */

.title {
  width: 400px;
  margin: 100px auto;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: none;
  outline: none;
  border-radius: 10px;
  text-align: center;
  backdrop-filter: blur(5px);
}

.title > span {
  font-family: "Pacifico", Courier, monospace;
  font-size: 3rem;
  animation: neon 1.5s ease-in-out infinite alternate;
}

hr {
  background-color: #f82d963d;
  height: 2px;
  margin: 10px 0px;
  border: none;
  width: 100%;
}

/* Chat */

.chat_container {
  box-sizing: content-box;
  margin: 10px auto;
  width: 400px;
  height: 300px;
  text-align: center;
  padding-bottom: 85px;
  overflow-wrap: break-word;
  word-break: break-word;
}

*::-webkit-scrollbar {
  display: none;
}

.header_container {
  display: flex;
  justify-content: space-between;
  padding-inline: 10px;
}

.message {
  display: inline;
  margin: 15px 10px;
  padding: 10px 5px;
}

@keyframes neon {
  from {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}
